body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    min-width: 1200px;
    color: #000000;
    }
   
  a {
    text-decoration: none;
  }

  .site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a{
    color:#3f3f3f;; 
}
  
.btn{
	display: inline-block;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 5px;
    padding: 8px 10px;
    background: #15C5FF;
    color: white;
    }

/* ----- Сеточные стили ----- */
html,
body {
  min-width: 1122px;
  min-height: 1150px;
}
.inner-page {
  /* Временно для сетки */
  background-size: 1200px auto;
  background-position: top center;
  background-repeat: no-repeat;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  width: 1200px;
  padding: 0 20px;
  box-sizing: border-box;
}

.button {
 width: 160; 
 height: 50;
}

.main-header {
  margin-bottom: 75px;
  background-color: #eeeeee;
  }

.inner-page .main-header {
  margin-bottom: 50px;
  background-color: #000000;
  background-color: transparent;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

.inner-page .main-navigation {
  align-items: flex-start;
  flex-direction: row;
  }

.main-header-logo {
  order: 2;
  align-items: left;
  width: 368px;
  height: 353px;
}

.inner-page .main-header-logo {
  order: 0;
  width: 111px;
  height: 24px;
  padding: 23px 20px;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;
  background-color: #000000;
  /* Временно для сетки */
  min-height: 70px;
  background-color: transparent;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  width: 620px;
  margin: 0;
  padding: 0;
  flex-direction: row;
  list-style: none;
  /* Временно для сетки */
  min-height: 70px;
}

.user-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  list-style: none;

  /* Временно для сетки */
  min-height: 70px;
}

.user-navigation-index {
  display: flex;
  justify-content: space-between;
   margin: 0;
  padding: 0;
    list-style: none;
  /* Временно для сетки */
  min-height: 70px;
}

.inner-page .user-navigation {
  margin-left: auto;
}

.features {
  margin-bottom: 80px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  /* Временно для сетки */
  min-height: 150px;
}

.feature-item {
  width: 300px;
  /* Временно для сетки */
  min-height: 150px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  margin-bottom: 35px;
  /* Временно для сетки */
  background-image: none;
  background-color: transparent;
}

.news {
  width: 380px;
  /* Временно для сетки */
  min-height: 315px;
}

.gallery {
  width: 300px;
  /* Временно для сетки */
  min-height: 315px;
}

.contacts {
  width: 380px;
  /* Временно для сетки */
  min-height: 295px;
}

.appointment {
  width: 300px;
  /* Временно для сетки */
  min-height: 320px;
}

.main-footer {
  padding: 60px 0;
  margin-top: 65px;
  /* Временно для сетки */
  background: none;
}

.main-footer .container {
  display: flex;
}

.footer-contacts {
  width: 330px;
  margin: 0;
  margin-right: 70px;
  /* Временно для сетки */
  min-height: 100px;
}

.footer-social {
  width: 145px;
  /* Временно для сетки */
  min-height: 100px;
}

.footer-copyright {
  width: 150px;
  margin: 0;
  margin-left: auto;
  /* Временно для сетки */
  min-height: 100px;
}

.page-wrappe {
  width: 1440px;
  margin: 0 auto;
}

.card {
  width: 322px;
height: 322px;
    background: ffffff; 
}
.article {
  width: 50%;
}

.button1 {
  display: block;
  /*width: 160px;*/
  padding: 13px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button1:hover,
.button1:focus {
  background-color: #e74246;
}

.button1:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.button2 {
  display: block;
  /*width: 160px;*/
  padding: 13px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #00ca74;
  border-radius: 3px;
  border: none;
}

.button2:hover,
.button2:focus {
  background-color: #00bc6c;
}

.button2:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00ca74;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.button3 {
  display: block;
  /*width: 160px;*/
  padding: 13px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #efc84a;
  border-radius: 3px;
  border: none;
}

.button3:hover,
.button3:focus {
  background-color: #eab534;
}

.button3:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.slider {
  position: relative;
  background-color: #eeeeee; 
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  display: block;
}

.slider-item:nth-child(1) {
  display: block;
}
.slider-item:nth-child(1) {
  background-image: url("img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}


.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.slider-controls i {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  /* Временно для демонстрации */
  background-color: red;
}

.slider-controls i::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-controls .active::before {
  
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  /* Для демонстрации */
  width: 260px;
  margin: 50px auto; 
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
	position: relative;
	height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
	position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}


.price-controls label {
  display: inline-block;
  width: 50%;
  
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
	width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.poster {
   }

.poster :hover,
.poster :focus {
  
}
.poster :active {

}












