body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    /*text-transform: uppercase;*/
    background-color: #ffffff;
   background-position: top center;
  background-repeat: no-repeat;
  }

  
  a {
    text-decoration: none;
  }

  .site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a{
    color:#3f3f3f;; 
}
  
.btn{
	display: inline-block;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 5px;
    padding: 8px 10px;
    background: #15C5FF;
    color: white;
    }

/* ----- Сеточные стили ----- */
html,
body {
  min-width: 1122px;
  min-height: 1150px;
}
.inner-page {
  /* Временно для сетки */
    background-size: 1200px auto;
  background-position: top center;
  background-repeat: no-repeat;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.button {
width: 160; 
height: 50;
}

.main-header {
  margin-bottom: 75px;
  /* Временно для сетки */
  }

.inner-page .main-header {
  margin-bottom: 50px;
    background-color: #000000;
  /* Временно для сетки */
  min-height: 70px;
  background-color: transparent;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  /* Временно для сетки */
  min-height: 285px;
}

.inner-page .main-navigation {
  align-items: flex-start;
  flex-direction: row;
  /* Временно для сетки */
  min-height: 70px;
}

.main-header-logo {
  order: 2;
  align-items: left;
  width: 368px;
  height: 353px;
}

.inner-page .main-header-logo {
  order: 0;
    width: 111px;
  height: 24px;
  padding: 23px 20px;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;

  background-color: #000000;
  /* Временно для сетки */
  min-height: 70px;
  background-color: transparent;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  width: 620px;
  margin: 0;
  padding: 0;
  flex-direction: row;
  list-style: none;
  /* Временно для сетки */
  min-height: 70px;
}

.user-navigation {
  display: flex;
  justify-content: space-between;
    margin: 0;
  padding: 0;
  flex-wrap: wrap;
  list-style: none;

  /* Временно для сетки */
  min-height: 70px;
}

.user-navigation-index {
  display: flex;
  justify-content: space-between;
    margin: 0;
  padding: 0;
  
  list-style: none;

  /* Временно для сетки */
  min-height: 70px;
}

.inner-page .user-navigation {
  margin-left: auto;
}

.features {
  margin-bottom: 80px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  /* Временно для сетки */
  min-height: 150px;
}

.feature-item {
  width: 300px;
  /* Временно для сетки */
  min-height: 150px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  margin-bottom: 35px;
  /* Временно для сетки */
  background-image: none;
  background-color: transparent;
}

.news {
  width: 380px;
  /* Временно для сетки */
  min-height: 315px;
}

.gallery {
  width: 300px;
  /* Временно для сетки */
  min-height: 315px;
}

.contacts {
  width: 380px;
  /* Временно для сетки */
  min-height: 295px;
}

.appointment {
  width: 300px;
  /* Временно для сетки */
  min-height: 320px;
}

.main-footer {
  padding: 60px 0;
  margin-top: 65px;
  /* Временно для сетки */
  background: none;
}

.main-footer .container {
  display: flex;
}

.footer-contacts {
  width: 330px;
  margin: 0;
  margin-right: 70px;
  /* Временно для сетки */
  min-height: 100px;
}

.footer-social {
  width: 145px;
  /* Временно для сетки */
  min-height: 100px;
}

.footer-copyright {
  width: 150px;
  margin: 0;
  margin-left: auto;
  /* Временно для сетки */
  min-height: 100px;
}

.page-wrappe {
  width: 1440px;
  margin: 0 auto;
}

.card {
  width: 322px;
height: 322px;
    background: ffffff; 
}
.article {
  width: 50%;
}

.button1 {
  display: block;
  width: 160px;
  padding: 13px 0;
  
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button1:hover,
.button:focus {
  background-color: #e74246;
}

.button1:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}





